/*
=====================
    RESET CSS        
=====================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
=====================
    FONT-FACE        
=====================
*/

@font-face {
    font-family: "MartianMono";
    src: url("/assets/fonts/MartianMono.ttf") format("truetype");
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: "Roboto light";
    src: url("/assets/fonts/RobotoMono-Light.ttf") format("truetype");
    
}

@font-face {
    font-family: "Roboto Mono";
    src: url("/assets/fonts/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400; /* Regular */
}

/*
=====================
    BASE STYLES       
=====================
*/

:root {

    /* Colors */
    --primary-light: #BBBDB4; /* A light, soft shade for backgrounds or highlights */
    --primary-light: #f0f4e3; /* A light, soft shade for backgrounds or highlights */
    --primary-dark: #1a1a1a; /* A dark shade for text or prominent elements */
    --secondary-light: #f9f9f9; /* A very light shade for contrast or overlays */
    --secondary-dark: #395733; /* A bold, earthy tone for strong accents */
    --accent: #D3896E; /* A warm, inviting accent for highlights or interactions */
    --neutral-light: #ccd1c3; /* A balanced, neutral shade for secondary purposes */
    --neutral: #99a392; /* A balanced, neutral shade for secondary purposes */

    --glass-lightness: 100%;
    --glass-alpha: 50%;

    /* Typography */
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "MartianMono", sans-serif;
    --font-light: "Roboto Mono", sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {list-style: none;}

a,
img,
data,
span,
input,
button,
select,
textarea {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {height: auto;}

input,
button,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea {
    outline: none;
}

button {cursor: pointer;}

address {font-style: normal;}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 1.6rem;
    line-height: 1.85;
    overflow-x: hidden;
    /* height: 300vh; */
    min-height: 100vh;
    background-color: var(--primary-light);
    color: var(--primary-dark);
}


body.nav-active {overflow: hidden;}

::-webkit-scrollbar {width: 5px;}

::-webkit-scrollbar-track { background: transparent;}

::-webkit-scrollbar-thumb { background-color: var(--neutral);}


/*
===================
    COMPONENTS
===================
*/

.container {padding-inline: 1rem;}

.separator {
    width: 8px;
    height: 8px;
    border: 1px solid var(--accent);
    transform: rotate(45deg);
}

h2 {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium);
}

/* .text { font-size: 1.2rem;} */

.text-center {text-align: center;}



.subtitle {

    font-size: 1rem;
}


.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title--section{ margin-bottom: 4rem;}

.section {padding: 4rem 0;}

.subtitle--section {
    position: relative;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-block-end: 12px;
}

.subtitle--section::after {
    content: url("../images/separator.svg");
    display: block;
    width: 72px;
    margin-inline: auto;
    margin-block-start: 5px;
}

.btn {
    position: relative;
    font-family: var(--font-secondary);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: max-content;
    border: 2px solid var(--secondary-dark);
    color: var(--secondary-dark);
    padding: 1rem 2rem;
    overflow: hidden;
    z-index: 1;
    border-radius: 4px;
}

.btn::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    /* border-radius: 50%; */
    transition:  500ms ease;
    z-index: -1;
    background-color: #395733;
}

.btn .text { transition: 250ms ease;}

.btn .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: var(--secondary-light);
}

.btn:is(:hover, :focus-visible)::before {bottom: -50%;}

.btn:is(:hover, :focus-visible) .text-1 {transform: translateY(-40px);}

.btn:is(:hover, :focus-visible) .text-2 {
    transform: translate(-50%, -50%);
    top: 50%;
}

.icon-btn {
    width: 40px;
    height: 40px;
}

.has-after {
    position: relative;
    z-index: 1;
}

.has-after::after {
    content: "";
    position: absolute;
}

/* Glass background filter */
.glass-bg{
    background: hsl(0 0% var(--glass-lightness) / var(--glass-alpha));
    backdrop-filter: blur(25px);
}

/* Reduced Transparency */
@media (prefers-reduced-transparency: reduce) {
    .glass-bg{
        --glass-alpha: 85%;
    }
}

/* Fallback for browsers not supporting backdrop-filter */
@supports not (backdrop-filter: blur(1px)) {
    .glass-bg{
        background: hsl(0 0% var(--glass-lightness) / 90%);
    }
}

.text-limited {
    display: -webkit-box; /* Multi-line truncation in WebKit browsers */
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    overflow: hidden; 
    text-overflow: ellipsis; /* Add "..." at the end of truncated text */
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 192px;
    height: 100%;
    animation: fade-in 500ms forwards;
    transform: translateY(30px);
    opacity: 0;
    background-color: var(--neutral-light);
}

@keyframes fade-in {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card-media {
    aspect-ratio: 1/1;
    border-radius: 4px;
}

.card-img-holder {
    background-color: var(--neutral-light);
    background-image: url("../images/image-placeholder.jpg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    overflow: hidden;
}

.card-link {
    font-family: var(--font-secondary);
    transition: color 250ms ease; 
    color: var(--secondary-dark);
}

.card-link:where(:hover, :focus-visible) { text-decoration: underline;}

.card-meta-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 4px;
}


.spinner {
    margin: 5rem auto;
    text-align: center;
}

.spinner svg {
    height: 4rem;
    width: 4rem;
    fill: var(--neutral);
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}


/*
===================
    HEADER
===================
*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: max-content;
    background-color: var(--neutral-light);
    padding-block: 1rem;
    padding-inline: 1rem;
    z-index: 4;
    border-block-end: 1px solid transparent;
    transition: 250ms ease;
    font-family: var(--font-secondary);
}

.header.active {background-color: var(--neutral);}

.header.hide {
    transform: translateY(-100%);
    transition-delay: 250ms;
}

.logo {
    border-bottom: 1px solid var(--neutral);
    text-align: center;
}

.logo span {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 3rem;
    color: var(--secondary-dark);
}

.header__nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header__content {
    width: 100%;
    display: flex;
    align-items: self-end;
    justify-content: space-between;
}

.search-bar {
    position: relative;
  }
  
.search-bar__input {
    font-family: var(--font-primary);
    font-size: 1rem;
    border-block-end: 1px solid var(--neutral);
    padding: 0.7rem 1rem;
    border-radius: 4px;
    width: 13rem;
    height: 3.5rem;
    transition: all ease-in-out .5s; 
}
  
.search-bar__input:hover, .search-bar__input:focus {box-shadow: 0 0 1em #00000013;}

.search-bar__input::placeholder {
    color: inherit;
    opacity: 0.5;
    font-size: 1rem;
}
  
.search-bar__input:focus {
    outline: none;
}
  
.search-bar__button {
    border: none;
    position: absolute;
    top: 4px;
    right: 4px;
}
  
.search-bar__button:hover {cursor: pointer;}
  
.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: var(--secondary-dark);
}

.header__actions {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    gap: 1rem;
    width: 100%;
}

.header__actions-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__actions .bookmark,
.header__actions .add-recipe {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.header__actions .bookmark:hover,
.header__actions .add-recipe:hover {color: var(--secondary-dark);}

.nav-toggle{margin-left: 1rem;}


.close-menu {
    opacity: 0;
    display: none;
}

.close-menu.visible {
    opacity: 1;
    display: block;
}


.open-menu.hidden {
    opacity: 0;
    display: none;
}

.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--neutral-light);
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.25s cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

.navbar.active {
    max-height: 40rem;
    visibility: visible;
    transition-duration: 0.5s;
}

.navbar.active::before {
    content: url("../images/separator.svg");
    display: block;
    width: 72px;
    margin-inline: auto;
    margin-block-start: 5px;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem; 
}

.navbar-item:hover {color: var(--secondary-dark);}


.link {
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-block: 1rem;
    max-width: unset;
}

.navbar-link::after {display: none;}

.hover-underline {
    position: relative;
    max-width: max-content;
}

.hover-underline::after {
    content: "";
    position:absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    border-block:  1px solid var(--secondary-dark) ;
    transform: scaleX(0.2);
    opacity: 0;
    transition: 500ms ease;
}

.hover-underline:is(:hover, :focus-visible .active)::after {
    transform: scaleX(1);
    opacity: 1;
}

.link .separator {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transition: 250ms ease;
    color: var(--secondary-dark);
}

.link:is(:hover, :focus-visible, .active) .separator { opacity: 1;}

.link:is(:hover, :focus-visible, .active) .span {
    color: var(--secondary-dark);
    transform: translateX(20px);
}

.link .span {
    font-weight: var(--font-weight-medium);
    transition: 250ms ease;
}

.nav-open-btn {
    padding: 12px;
    padding-inline-end: 0;
}

.nav-open-btn .line {
    width: 3rem;
    height: 2px;
    background-color: var(--secondary-dark);
    margin-block: 4px;
    transform-origin: left;
    animation: menuBtn 500ms ease-in-out alternate infinite;
}

@keyframes menuBtn{
    0% { transform:  scaleX(1);}
    100% { transform:  scaleX(0.5);}
}

.nav-open-btn .line-2 { animation-delay: 150ms;}

.nav-open-btn .line-3 { animation-delay: 400ms;}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    transition: 500ms ease;
    z-index: 2;
    opacity: 0;
}

.overlay.active {
    opacity: 1;
    pointer-events: all ;
    height: 100vh;
}


/*
===================
    HERO
===================
*/

/* .hero .slider-btn { display: none; } */

.hero {
    position: relative;
    padding-block: 120px;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.hero .slider-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    padding-block-start: 100px;
    opacity: 0;
    visibility: hidden;
    transition: 1000ms ease;
    z-index: 1;
}

.hero .slider-item.active {
    opacity: 1;
    visibility: visible;
}

.hero .slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    pointer-events: none;
    user-select: none;
    z-index: -1;
}  

.content-wrapper {
    width: 60%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 4px;
}

.hero-title {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium);
}

.hero .slider-item.active .slider-bg { animation: smoothScale 7s linear forward;}

@keyframes smoothScale {
    0% {transform: scale(1);}
    100% {transform: scale(1.15);}
}

.hero .subtitle--section::after {margin-block:  14px 20px;}

.hero-text {
    font-size: 1rem;
    margin-block: 1rem 4rem;
    }

.hero .btn { margin-inline: auto; }

.slider-reveal {
    transform: translateY(30px);
    opacity: 0;
    color: var(--secondary-dark);
}

.hero .slider-item.active .slider-reveal {
    animation: sliderReveal 1s ease forwards;
}

@keyframes sliderReveal {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero .slider-item.active .subtitle--section { animation-delay: 500ms;}

.hero .slider-item.active .hero-title { animation-delay: 1000ms;}

.hero .slider-item.active .hero-text { animation-delay: 1.5s;}

.hero .slider-item.active .btn { animation-delay: 2s;}

.hero-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    background-color: var(--accent);
    width: 110px;
    height: 110px;
    padding: 12px;
    transform: scale(0.6);
    /* border-radius: 50%; */
}

.hero-btn img {
    margin-inline: auto;
    margin-block-end: 6px;
}

.hero-btn .span {
    color: var(--primary-dark);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    line-height: 1.5em;
}

.hero-btn::after {
    inset: 0;
    border: 1px solid var(--secondary-light);
    animation: rotate360 15s linear infinite;
}

@keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
}
  

/*
===================
    MEAL OPTIONS
===================
*/

.meal-options {
    background-image: url("../images/img-pattern.svg");
    background-repeat: repeat;
    width: 100%;
    overflow: hidden;
    filter: brightness(1.2);
    padding: 3rem 0;
}

.meal-options-header p { color: var(--secondary-dark);}

.meal-options-subtitle {}

.meal-options-title {
    margin-bottom: 4rem;
}

.meal-option {
    font-family: var(--font-secondary);
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.meal-option-title {
    margin-bottom: 2rem;
}

.meal-option--diet {}


.meal-option-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr; 
    margin: 0 1rem;
    width: 100%;
    height: 60%;
    
}

.meal-item {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #aab0a3;
    padding: 30px 20px 40px;
    transition: background-color 300ms ease;
    border-radius: 4px;
}

.meal-item:hover .meal-icon-wrapper {
    transform: scale(-1) rotate(180deg);
    transition: transform 500ms ease;
}

.meal-item:hover {
    background-color: var(--accent);
}

.meal-icon-wrapper {
    max-width: max-content;
    cursor: pointer;
    transition: 500ms ease;
}

.meal-icon {
    width: 78px;
    height: 68px;

}

.meal-text{
    flex: 1;
    font-size: 1.5rem;
    height: 3em; /* Fixed height for uniformity */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add "..." for truncation */
    white-space: nowrap;
}

.meal-text {}

.meal-option--time {}

.meal-option--type {}


/*
======================
    LATEST RECIPES
======================
*/

.latest-recipes-header p { color: var(--secondary-dark);}

.recipe-list {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 1rem;
    scroll-snap-type: x mandatory;
}
.recipe-list-item {
    flex: 0 0 calc(80% - 12px); /* Each item takes 80% of screen width minus the gap */
    scroll-snap-align: start; /* Snap to the start of the item */
    /* background: #f9f9f9; */
    border-radius: 8px;
    text-align: center;
}

.recipe-list-item {
    position: relative;
}

.recipe-tag {
    font-family: var(--font-light);
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--neutral-light);
    padding: .5rem .8rem;
    z-index: 1;
    border-radius: 4px;
    font-size: 1.2rem;
}

.recipe-tag:hover {background-color: var(--accent);}

.recipe-card {}

.recipe-card-content {}

.card-content {
    flex-grow: 1;
    padding: 8px 8px 2.5rem 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;   
}

.card-title {font-size: 1.3rem;}

.recipe-card-meta {}

.recipe-meta-item {}

/* .recipe-saved .bookmark-add,
.recipe-removed .bookmark {display: none;}

.recipe-saved .bookmark { font-variation-settings:  "FILL" 1;} */
.bookmark-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-right: 1rem;
  }
  
.bookmark-container .save-regular {
    position: absolute;
    animation: keyframes-fill 0.5s;
    transform-origin: top;
  }
  
.bookmark-container .save-solid {
    position: absolute;
    animation: keyframes-fill 0.5s;
    display: block;
    fill : var(--secondary-dark);
    transform-origin: top;
  }
  
  /* ------ On check event ------ */
.bookmark-container input:checked ~ .save-regular {
    display: block;
  }
  
.bookmark-container input:checked ~ .save-solid {
    display: none;
  }
  
  /* ------ Hide the default checkbox ------ */
.bookmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scaleY(1.2);
    }
  }






.section-btn {
    margin-inline: auto;
    margin-top: 2rem;
}

/*
================
    BLOG
================
*/

.blog-section {}

.blog-section-header p { color: var(--secondary-dark);}

.slider {
    display: flex;
    gap: 8px;
    position: relative;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-block-end: 5px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
}

.slider::-webkit-scrollbar {
    height: 2px; 
    width: 2px; 
}

.slider::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.slider:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: var(--neutral); 
    border: 1px solid var(--light-neutral);
}

.blog-list {
    display: flex;
    align-items: stretch;
    gap: 12px;
    transition:250ms ease;
}

.blog-list-item {
    scroll-snap-align: start;
    border-radius: 4px;
}

.blog-card {}

.blog-card-media {}

.blog-card-content{}

.blog-list-item--load-more {}

.blog-card-excerpt {
    text-align: left;
    padding: 0 .5rem;
}

.blog-meta {}

.blog-meta-item {}

.blog-list-item--load-more {}

.load-more-btn {
    height: 100%;
    background-color: var(--neutral-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.load-more-btn:hover { background-color: var(--accent);}


/*
===================
    CATEGORY
===================
*/
.categories-section {
    margin-bottom: 3rem;
}

.categories-header p { color: var(--secondary-dark);}

.categories-list {
    font-family: var(--font-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block-start: 24px;
}

.category-link {
    height: 4rem;
    border-radius: 4px;
    background-color: var(--neutral-light);
    max-width: max-content;
    padding-inline: 1.6rem;
    display: grid;
    place-items: center;
}

.category-link:is(:hover, :focus-visible) {
    background-color: var(--accent);
}

.category-name {font-size: 1.2rem;}



/*
===================
    FOOTER
===================
*/

.footer {
    max-width: 100% !important;
    padding-inline: 2rem;
    margin-block-end: 24px;
    background-image: url(../images/img-pattern.svg);
    background-repeat: repeat;
    background-position:center; 
    overflow: hidden;
    filter: brightness(1.2);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;

}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.footer__brand {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.footer .logo span {
    font-size: 2rem ;
    text-align: left;
}

.footer__back-to-top {
    align-self: self-start;
    margin-top: 1.5rem;
}

.back-to-top-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: var(--secondary-dark);
    font-weight: var(--font-weight-bold);
}

.back-to-top-btn:is(:hover) {
    transform: translateY(-2px);
    color: var(--accent);
}


.back-to-top-btn span {
    transform: rotate(-90deg);
    white-space: nowrap;
}

.social__link ion-icon,
.back-to-top-btn ion-icon {font-size: 2.5rem;}

.footer__body {
    position: relative;
    margin-top: 2rem;
}

.footer__body::before {
    position: absolute;
    top: -3rem;
    left:0;
    right: 0;
    content: url(../images/separator.svg);
    display: block;
    width: 72px;
    margin-inline: auto;
    margin-block-start: 5px;
}

.footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.footer__column {}

.footer__title {
    margin-block-end: 1rem;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium);
}

.footer__list li {margin-bottom: 1rem;}

.footer__link {}

.footer__newsletter {
    position: relative;
    margin-top: 2rem;
}

.footer-column {margin-top: 2rem;}

.footer-column ul {
    display: flex;
    flex-direction: column;
}

.footer__newsletter {}

.footer__newsletter-content {padding: 0 2rem;}

.footer__text::after,
.footer__newsletter-title::before {
    content: url(../images/separator.svg);
    display: block;
    width: 72px;
    margin-inline: auto;
    margin-block-start: 5px;
}

.footer__newsletter-form{
    margin-block-end: 24px; 
    padding: 0 2rem;
}

.footer__input {
    width: 100%;
    max-width: 30rem;
    padding: 12px;
    padding-inline-start: 2rem;
    border-block-end: 1px solid #aab0a3;
    background-color: var(--secondary-light);
    margin: 1rem auto;
}

.footer__input::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
    font-size: 1.2rem;
}

.footer__input:hover, .footer__input:focus {
    box-shadow: 0 0 1em #00000013;
  }


.footer__btn {margin: 0 auto;}

.footer__bottom {
    margin-top: 2rem;
    padding-block: 1rem;
    background-color: var(--primary-light);
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.footer__copyright {
    flex-grow: 1;
    font-size: 1rem;
    text-align: center;
    margin-block-end: .5rem;
    width: 100%;
    white-space: nowrap;
    display: flex;
    gap: 3px;
    justify-content: center;
}

.footer__copyright .social-link { color: var(--secondary-dark);
    text-decoration: underline;
}

.footer__author-link {
    text-decoration: underline;
    color: var(--secondary-dark);
}

.social__link { color: var(--secondary-dark);}
  
.social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.social__link:is(:hover, :focus-visible) {
    transform: translateY(-2px);
    color: var(--accent);
}


    /*
    =================================================
    |               RECIPE DETAIL                     |
    =================================================
    */
.detail-page-main { margin: 8rem auto;}

.recipe-detail-container {}

.recipe-detail-banner {
    width: 100%;
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
}

.img-holder {}

.recipe-detail-content {margin-block: 32px;}

.recipe-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 2rem;
}

.recipe-title {
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
   
}


.recipe-meta {
    display: flex;
    justify-content: space-between;
}

.recipe-meta span {
    opacity: 0.8;
}

.recipe-stats {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin-top: 1.5rem;
    font-family: var(--font-secondary);
}

.recipe-stats .recipe-stats-item:not(:last-child) {
    border-right: 1px solid var(--neutral-light);
}


.recipe-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-value {
    color: var(--secondary-dark);
    font-weight: var(--font-weight-bold);
}

.recipe-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-block-start: 24px;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.recipe-tags .filter-chip {
    height: 2.5rem;
    border-radius: 4px;
    background-color: var(--neutral-light);
    max-width: max-content;
    padding-inline: 1rem;
    display: grid;
    place-items: center;
}

.recipe-tags .filter-chip:hover {background-color: var(--accent);}

.recipe-ingredients-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-ingredients-title span {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 1.2rem;
    opacity: 0.8;
}

.recipe-ingredients-list {

    border-block-start: 1px solid var(--neutral-light);
    padding-block-start: 8px;
    margin-block-start: 16px;
}

.recipe-ingredients-item {
    margin-block: 8px;
    list-style-type: disc;
    margin-inline-start: 24px;
}

.recipe-ingredients-item,
.recipe-instrcution-wrapper {
    font-family: var(--font-light);
    font-size: 1.3rem;
    word-spacing:-2px;
}

.recipe-ingredients-info span,
.recipe-instrcution-item  span {display: inline;}

.recipe-instrcution-wrapper {
    
}

.recipe-instrcution-header {}

.recipe-instrcution-subtitle {color: var(--secondary-dark);}



.recipe-instrcution-list {
    background-color: var(--neutral-light);
    padding: 1rem 2rem;
    border-radius: 4px;
}


.recipe-ingredients-quantity,
.recipe-ingredient-unit,
.recipe-instrcution-item  span{
    font-weight: var(--font-weight-bold);
     color: var(--secondary-dark);
}

.recipe-instrcution-item {margin-bottom: 1.5rem;}

    /*
    =================================================
    |               ALL RECIPES                     |
    =================================================
    */
.recipes-page-main {
    margin-top: 100px;
    padding-top: 80px;
}

.all-recipes-header {
    margin: 0 auto;
    text-align: center;
   
}

.all-recipes-header p { color: var(--secondary-dark);}

.all-recipes__form {
    width: 100%;
}


.all-recipes__search-bar {
    padding: 1rem;
}

.all-recipes__search-input {
    width: 50%;
    height: 4rem;
    background-color: var(--neutral-light);
}

.all-recipes__search-btn {
    right: 0;
    left: -34px;
    top: 17px;
}

.all-recipes-wrapper {
    width: 100%;
    padding: 0;
    margin-bottom: 12rem;
}

/*
===================
    MEDIA QUERIES
===================
*/

/* Responsive for larger than 575px screen */
@media (min-width: 575px) {

    .subtitle {font-size: 1.2rem;}

    /* Header*/
    /* .header .btn {
        display: block;
        margin-inline-start: auto;
    } */

    /* Hero */
    .hero-btn {transform: scale(0.7);}

     /* Recipes */
    .recipe-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Two items per row */
        gap: 12px;
        overflow: visible;
        scroll-snap-type: inline mandatory;
        padding-block-end: 5px;
    }

    .recipe-list-item {
        flex: none; 
        scroll-snap-align: none;
    }

    /* Footer */
    .footer__body {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .footer__links {max-width: 30rem ;}

    .footer__newsletter{
        flex-grow: 1;
        flex-basis: 100%;
    }


    /* Details */

    .recipe-detail-banner{height: 400px;}

}


/* Responsive for larger than 768px screen */
@media (min-width: 768px) {

    .text{font-size: 1.4rem;}

    h2 { font-size:2rem ;}

    .subtitle--section::after {width: 100px;}

    .btn {font-size: 1.2rem;}

     /* Header*/
    .navbar-list { margin-inline: 3rem;}

    
     /* Hero */
    .content-wrapper {
        padding: 4rem;
        width: 72%;}

    .hero-text {
        max-width: 33rem;
        font-size: 1.5rem;
    }

    .hero .slider-btn {
        display: grid;
        position: absolute;
        z-index: 1;
        color: var(--gold-crayola);
        font-size: 2.4rem;
        border: 1px solid var(--gold-crayola);
        width: 45px;
        height: 45px;
        place-items: center;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: var(--transition-1);
    }

    .hero .slider-btn ion-icon { transform: rotate(-45deg); }

    .hero .slider-btn.prev { left: 30px; }

    .hero .slider-btn.next { right: 30px; }

    .hero .slider-btn:is(:hover, :focus-visible) {
        background-color: var(--gold-crayola);
        color: var(--black);
    }


    /* Blogs */
    .blog-list-item {flex: 0 0 calc(13.333% - 8px); }

    /* Category */
    .category-name {font-size: 1.5rem;}

    /* Footer */
    .footer__newsletter-form {
        display: flex;
        align-items: center;
    }

    .footer__btn {height: 5rem;}
}



/* Responsive for larger than 992px screen */
@media (min-width: 992px) {

    .subtitle {font-size: 1.2rem;}

    /* Details */

    .recipe-detail-banner{height: 450px;}
}


/* Responsive for larger than 1024px screen */
@media (min-width: 1024px) {

    .subtitle {font-size: 1.3rem;}

    /* Header */
    .nav-toggle-btn,
    .header .overlay {display: none; }


    .navbar,
    .navbar.active,
    .navbar-list {all: unset;}

    .navbar,
    .navbar.navbar.active {margin-inline: auto 2rem;}

    .navbar-list {
        display: flex;
        gap: 3rem;
    }

    .navbar .separator {display: none;}

    .link:is(:hover, :focus-visible, .active) .span {transform: unset;}

    .link .span{
        font-size: 1.5rem;
        font-weight: var(--font-weight-bold);
        letter-spacing: 0.15em;
    }

    .navbar-link::after { display: block;}

    .link.active::after {
        transform: scaleX(1);
        opacity: 1;
    }

    .header .btn {margin-inline-start: 0;}


    /* Hero */
    .hero { height: 880px; }

    .hero-btn {
        bottom: 50px;
        right: 50px;
        transform: scale(1);
    }

    /* Meal Options */
    .meal-options-container {
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        gap: 4rem;
    }

    .meal-option {flex: 1;}

    /* Latest Recipe */
    .recipe-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Three or more items per row */
        gap: 20px; /* More spacing for desktop */
    }

    /* Blogs */
    .blog-list-item {flex: 0 0 calc(14% - 8px); /* Four items per row */}

}

/* Responsive for larger than 1400px screen */
@media (min-width: 1400px) {

    /* Header */
    .navbar { margin-inline: auto;}

    /* Latest Recipe */
    .recipe-list {
        grid-template-columns: repeat(6, 1fr); /* Force 6 items per row */
        gap: 20px; /* Optional: Adjust spacing for large screens */
    }

    /* Footer */
    .footer__top {padding-inline: 120px;}

}



